{% extends "index.html" %}
{% block title %}Details Member{% endblock %}
{% block content %}
<div class="container mt-5">
    <h4 class="text-center">Details Page</h4>
    <div class="mt-4">
        <div class="row mt-4">
            <div class="col-lg-4 col-md-4">
                <strong>Name</strong>
            </div>
            <div class="col-lg-8 col-md-8">
                {{member.firstname}} {{member.lastname}}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-4">
                <strong>Phone</strong>
            </div>
            <div class="col-lg-8 col-md-8">
                {{member.phone}}
            </div>
        </div>
    </div>
    <a href="{% url 'index' %}" class="btn btn-danger">Back</a>
</div>
{% endblock %}
